@import "bootstrap-sprockets";
@import "bootstrap";
/*=require bootstrap*/

html {
  overflow-y: scroll;
  font-family: Sans-Serif;
}

body {
	padding: 90px;
	background: #FDF3E7 !important;
}

.navbar-inverse { //changes colour of (black) header
    background-color: #3B3738 !important;
    border-color: #3B3738 !important;
    background-image: none !important;
}

a.navbar-nickname {
	color: #7E8F7C !important; //changes colour of "logged in as: "; initial colour
	&:hover {
    color: #ffffff !important; //HOVER COLOUR
    background-color: transparent !important;
    text-decoration: none;
  } 
}

a{
  &:hover {
    color: #C63D0F !important;
    background-color: transparent !important;
    text-decoration: none;
  } 
}

input {
    line-height: 0.1em;
}

h1 {
  color: #000000 !important;
}
