@import "bootstrap-sprockets";
@import "bootstrap";
/*=require bootstrap*/

html {
  overflow-y: scroll;
  font-family: Sans-Serif;
}

body {
  padding-top: 78px;
  padding-left: 80px;
  padding-right: 80px;
  background: #ffffff !important; //white
}

.navbar-inverse { //changes colour of (originally black) header
    background-color: #000000 !important;
    border-color: #3154ff !important; 
    //border-color: #000000 !important; 
    border-bottom-width: 1px !important; 
    background-image: none !important;
}

//changes colour of "logged in as: "
a.navbar-nickname {
  color: #ffffff !important; //hover colour
  &:hover {
    background-color: transparent !important;
    text-decoration: none;
  } 
}

a{
  color: #4CD62D !important; 

  &:hover { //hover of main header words (i.e. Java Programming...)
    color: #CACACA !important; //hover of main header words
    background-color: transparent !important;
    text-decoration: none;
  } 
}

.field_input {
    color: #ff0000;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    border: 2px solid #ff0000;
    border-radius:2px;
}

input {
  line-height: 0.1em;
}

.lightning {
  color: #000000 !important;
  border: 1px solid #000000 !important;
  border-radius:1px !important;
}


h1 {
  color: #000000 !important;
  //font-weight: bold !important;
}

h3 {
  color: #4CD62D !important;
}

h4 {
  color: #000000 !important;
}

h5 {
  color: #000000 !important;
}

input.next_phase {
  float: right; 
}

input.previous_phase {
  float: left; 
}

#editor {
  width: 90%;
  margin: 0 auto; 
}
